html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(232, 232, 255);
}

main {
    border: 1px solid black;
    padding: 2rem;
    background-color: white;
    width: 400px;
    height: 350px;
}

button {
    background-color: #000597; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }