html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: white;
    font-size: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boks {
    width: 500px;
    height: 500px;
    padding: 1em;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

input {
    width: 40%;
    height: 1.2rem;
    font-size: 1rem;
    text-align: center;
}

#utskrift {
    height: 200px;
}