#hoved {
    width: 600px;
    height: 400px;
    display: grid;
    gap: 5px;
    background-color: #c6c6c6;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "t t t t t" 
        "v . h h h"
        "v . h h h"
        "b b b b b";
}

#hoved > div {
    background-color: #32998f;
    border: 1px solid black;
}

.topp    { grid-area : t; }
.venstre { grid-area : v; }
.hoyre   { grid-area : h; }
.botn    { grid-area : b; }

/* Eksempel på å bruke flexbox for å lage til en enkel meny */
nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}